* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    

    /* Welcome section styling */
}
.background{
    background-image: url("/images/backgrounds/h_img.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 670px;

}
.logo{
    text-align: center;
    padding-top: 190px;
}
.logo div{
    text-align: center;
    color: #fff;
    font-size: 10vh;
}
.logo span{
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    font-size: 2.5vh;
    font-family: cursive;
}
.mouse{
    text-align: center;
    padding-top: 125px;
    
}
#mouse_click{
    animation: bounce 1s infinite;    
}




/* about us section styling */
.container{
    padding-top: 30px;
}
#about{
    text-align: center;
}




/* Services section styling */
.services{
    background-image: url("/images/backgrounds/s_image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 400px;
}
.services .container{
    color: #fff;
    text-align: center;
}
.text{
    margin-top: 100px;

}



/* What we do styling section */

#what h1{
    text-align: center;
}
.aline{
    display: flex;
    justify-content: space-between;
}